.home {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  &-pr {
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: down 1s ease-in-out;
    &-start {
      cursor: pointer;
      font-weight: 600;
      padding: 7px;
      // background-color: #ececec;
      border: 1px solid #ececec;
      border-radius: 5px;
      margin-top: 40px;
    }
  }
}

@keyframes down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
